@import '../utils.scss';

.cell {
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 1px solid $color;
  background-color: $background-color;
  &.isAlive {
    background-color: $color;
  }
}
