// device data
//$device-iphone6-width: 375px;
//$device-iphone6-height: 667px;
//$device-iphone6-status-bar-height: 20px;

// app size
$app-width: 480px;
$app-height: 480px;

html, body {
}

.root {
  position: relative;
  width: $app-width;
  height: $app-height;
  background-color: #d7d7d7;
}

.cellMatrix {
  position: relative;
  width: $app-width;
  height: $app-height;
}
