@import '../utils.scss';

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $color;
  background-color: $background-color;
}

.root {
  position: relative;
  margin: 10px auto;
  width: $app-width;
  border: 1px solid $color;
}

.header {
  position: relative;
  box-sizing: border-box;
  border: 1px solid $color;

  .title {
    padding: 3px 5px;
  }
}

.game {
  position: relative;
  height: $cell-matrix-height;

  .cellMatrix {
    position: absolute;
    top: 0;
    left: 0;
    width: $cell-matrix-width;
    height: $cell-matrix-height;
  }

  .controlPanel {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: $cell-matrix-width;
    width: $control-panel-width;
    height: $control-panel-height;
    border: 1px solid $color;

    .button {
      box-sizing: border-box;
      font-size: 14px;
      text-align: center;
      border: 1px solid $color;
      cursor: pointer;
      user-select: none;
    }

    .commandTitle {
      position: static;
      width: 100%;
      height: 15px;
      line-height: 15px;
      font-size: 12px;
      text-align: center;
      color: $background-color;
      background-color: $color;
    }

    .command {
      position: static;
      padding: 5px;
    }
  }
}
